@using System.Globalization
@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CQRS TUR VERİLERİ</h1>

<br />

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Gün gece</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
   {
       <tr>
           <td>@item.id</td>
           <td>@item.city</td>
           <td>@item.daynight</td>
            @*<td>@string.Format("{0:#.00}", Convert.ToDecimal(@item.price))</td>*@
           <td>@String.Format(new CultureInfo("tr-tr"), "{0:C}", @item.price)</td>
           <td>@item.capacity</td>
           <td><a href="/Admin/DestinationCQRS/DeleteDestination/@item.id" class="btn btn-primary">Sil</a></td>
           <td><a href="/Admin/DestinationCQRS/GetDestination/@item.id" class="btn btn-info">Güncelle</a></td>
       </tr>
   }
</table>
<a href="/Admin/DestinationCQRS/AddDestination" class="btn btn-outline-info">Yeni Rota Ekle</a>